header h1{
    background-color: black;
}

header nav {
    background-color: salmon;
}

header nav a {
    color: black;
}

header img{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

body {
    background-color: white;
}