@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', sans-serif;
    color: salmon; 
}

.sales-data {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: black;
}

h2{
    margin-top: 20px;
    margin-left: 15px;
}

p, li {
    font-family: Georgia, Times, serif;
    color: #333;
    margin-left: 15px;
}

header h1{
    text-align: center;
    padding: 60px;
    background-color: black;
    font-size: 60px;
    margin: 0;
}

header nav {
    background-color: salmon;
    padding: 10px;
    margin-bottom: 40px;
}

header nav a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 20px;
}

header img{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

body {
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    background-color: salmon;
}

th {
    background-color: lightgrey;
}

tbody tr td:last-child {
    background-color: rgb(235, 190, 66);
}

td:first-child {
    background-color: lightgrey;
}

tfoot td {
    background-color: lightblue;
}

tfoot td:first-child {
    background-color: lightgrey;
}

tfoot td:last-child {
    background-color: lightgreen;
}

tfoot tr td {
    background-color: lightblue;
}

tfoot tr td:first-child {
    background-color: lightgrey;
}

tfoot tr td:last-child {
    background-color: lightgreen;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode li{
    color: #fff;
}

.dark-mode main #dataTable {
    color: #000000;
}

.dark-mode nav {
    background-color: #444;
}

.dark-mode nav a {
    color: #fff;
}

.dark-mode header {
    background-color: #222;
}

.dark-mode header h1 {
    color: salmon;
}

.dark-mode .hero img {
    filter: brightness(50%);
    background: none;
}

.dark-mode footer {
    background-color: #222;
    color: #fff;
}

.dark-mode .location-info-page h2,
.dark-mode .location-info-page li {
    color: #fff;
}

.dark-mode button {
    background-color: salmon;
    color: #000000;
}

.dark-mode .location-info-page {
    color: #fff; 
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    padding: 0px 0;
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 180px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}

.hero img:hover {
    transform: scale(1.5);
}